* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    padding: 0px 20px;
}

.charset {
    background: #fff;
    width: 100%;
    position: fixed;
    top: 0px;
}

nav {
    background: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 200px;
    padding: 20px 0px;
    position: fixed;
    top: 0px;
}

.inner-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.navigation ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
}

.navigation ul li:hover {
    background: #f4f4f4;
}



.navigation ul li {
    display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 5px;
    padding: 10px 12px;
    list-style: none;
    cursor: pointer;
}

.navigation ul li a {
    font-size: 1.3rem;
    list-style: none;
    cursor: pointer;
    color: #222;
}

.login {
    display: inline-flex;
    gap: 20px;
}

.btn {
    align-items: center;
}

.btn-1,
.btn-2 {
    padding: 10px 12px;
    border-radius: 5px;
}

.btn a {
    font-weight: 500;
    font-size: 1.3rem;

}

.btn-1 {
    border: 1px solid #222;
    background: none;

}

.btn-1 a {
    color: #222;
}

.btn-2 {
    background-color: #18ba51;
    border: none;
}

.btn-2 a {
    color: #fff;
}

.btn-3 {
    background-color: #393939;
    transition: background-color 80ms ease-in-out;
    border: none;
}

.btn-3 a {
    color: #fff;
}

.btn-4 {
    background-color: #fff;
    border: 1.5px solid #e0e0e0;
    transition: background-color 80ms ease-in-out;
}

.btn-4:hover {
    background: #e0e0e0;
}

.btn-4 a {
    color: #161616;
}

.btn-3,
.btn-4 {
    padding: 18px 20px;
    border-radius: 8px;
}

.head {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.header {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Gip, sans-serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: 130%;
}

.paragraph {
    color: #525252;
    font-family: IBM Plex Sans, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
}

.sigin {
    display: flex;
    align-items: center;
    gap: 20px;
}



.video-background {
    margin-top: 100px;
    margin-bottom: 80px;
}


video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: 50%;
    background-size: cover;
    margin: auto;
    border-radius: 10px;

}


.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    margin-bottom: 100px;

}

.bor div h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 130%;
}

.bor div p {
    font-weight: 400;
    line-height: 150%;
}

.bor {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    border: 1px solid #858585;
    border-radius: 8px;
}

.bor div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c6f5de;
    border-radius: 50%;
    padding: 20px;
}

.bor div+div {
    display: flex;
    flex-direction: column;
}

.section-1 {
    background-color: #f4f4f4;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    gap: 60px;
}

.header-2 {
    margin-top: 80px;
    font-size: 2.5rem;
    font-weight: 600;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;

}

.card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
}

.card img {
    display: block;
    width: 100%;
    max-height: 500px;
    border-radius: 8px;
    background-position: center;
    background-size: cover;
}



.card img+div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card div h2 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 100%;
}

.card p {
    font-size: 1.2 rem;
    color: #525252;
}

.min-btn {
    position: relative;
    margin-top: 30px;

}


.min-btn div {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #393939;
    border-radius: 4px;
    padding: 10px 16px;
    color: #fff;
}

.section-2 {
    background-color: #040404;
    overflow: hidden;

}

.content-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 80px;
    gap: 50px;
}

.header-3 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
}

.step-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.step {
    background-color: rgba(224, 224, 224, .08);
    border-radius: 8px;
    padding: 24px;
    border: 1px solid rgba(224, 224, 224, .08);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.step div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.step-btn {
    max-width: 150px;
    background-color: #18ba51;
    transition: background-color 80ms ease-in-out;
    grid-column-gap: 4px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    display: flex;
    border: none;
}

.step-btn a {
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}

.step h6 {
    color: #a8a8a8;
}

.step h2 {
    color: #fff;
}

.step p {
    color: #333;
}























@media only screen and (min-width: 576px) {
    .container {
        width: 540px;

    }
}

@media only screen and (min-width: 768px) {
    .container {
        width: 720px;
    }

}

@media only screen and (min-width: 992px) {
    .container {
        width: 960px;

    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 1140px;

    }
}

@media only screen and (min-width: 1600px) {
    .container {
        width: 1520px;

    }
}